<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>YouTube Playlist Downloader</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <div class="container">
        <h1>YouTube Playlist Downloader</h1>
        <input type="text" id="playlist-url" placeholder="Cole a URL da playlist aqui">
        <button id="download-btn">Baixar Playlist</button>
        <div id="status"></div>
        <div id="downloads"></div>
    </div>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>
</html>